:root{
	--radius:28px;
	--bg:#050816;
	--glass:rgba(255,255,255,.06);
	--border:rgba(255,255,255,.08);
	--white:#ffffff;
	--text:#dbe4ee;
	--number:#1f2937;
	--number-hover:#334155;
	--operator:#f59e0b;
	--operator-hover:#ffb938;
	--special:#64748b;
	--special-hover:#7c8da5;
	--shadow:
	0 20px 60px rgba(0,0,0,.45);
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

::selection {
	background: rgb(29, 6, 230);
	color: #80e1f0;
}

::-webkit-scrollbar {
	width: 8px;
	scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    background:
		linear-gradient(135deg,
		rgb(46, 44, 44),
		rgb(43, 40, 40));
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #265481;
	border-radius: 10px;
	transition: 0.1s;
}

body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family:'Inter',sans-serif;
	background:
		radial-gradient(circle at top left,rgba(59,130,246,.22),transparent 20%),
		radial-gradient(circle at bottom right,rgba(124,58,237,.18),transparent 20%),
		linear-gradient(135deg,#050816,#0f172a,#111827);
	overflow-x: hidden;
	position: relative;
}

/* BACKGROUND GLOW */
body::before{
	content:"";
	position: fixed;
	width: 400px;
	height: 400px;
	background: radial-gradient(circle,rgba(59,130,246,.18),transparent 70%);
	top: -200px;
	left: -180px;
	opacity: 0.2;
	filter: blur(90px);
	animation: floatGlow 12s ease-in-out infinite;
}

body::after {
	content:"";
	position: fixed;
	width: 450px;
	height: 450px;
	background:
		radial-gradient(circle,rgba(97, 58, 237, 0.18),transparent 70%);
	opacity: 0.2;
	bottom: -180px;
	right: -180px;
	filter: blur(90px) brightness(80%);
	animation: floatGlow2 16s ease-in-out infinite;
}

/* MAIN */
main {
	position: relative;
	z-index: 2;
}

/* CALCULATOR */
.calculator-section {
	position: relative;
	width: min(96vw,560px);
	text-align: center;
	height: max-content;
	padding: clamp(16px,3vw,28px);
	margin: 1em auto;
	border-radius: 35px;
	background: rgba(255,255,255,.05);
	border: 1px solid var(--border);
	backdrop-filter:blur(22px);
	box-shadow:
		var(--shadow),
		0 0 60px rgba(59,130,246,.08);
	overflow: hidden;
}

/* SHINE EFFECT */
.calculator-section::before{
	content:"";
	position: absolute;
	inset: 0;
	background:
	    linear-gradient(145deg,
		rgba(255,255,255,.08),
        transparent 40%);
	pointer-events: none;
}

/* RESULT AREA */
.result_section{
	background:
		linear-gradient(135deg,
		rgba(255,255,255,.08),
		rgba(255,255,255,.03));
	padding: 22px;
	width: 500px;
	border-radius: 24px;
	margin-bottom: 22px;
	border: 1px solid rgba(255,255,255,.05);
	box-shadow:
		inset 0 1px 1px rgba(255,255,255,.05),
		0 8px 20px rgba(0,0,0,.25);
}

/* RESULT TEXT */

.result {
	width: 100%;
	color: var(--white);
	font-size: 4em;
	font-weight: 500;
	text-align: right;
	font-family: 'Inter',sans-serif;
	letter-spacing: 2px;
	text-shadow: 0 0 15px rgba(255,255,255,.18);
	text-wrap: wrap;
	word-break: break-all;
	padding: 10px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.result::-webkit-scrollbar {
	height: 8px;
	scroll-behavior: smooth;
}

.result::-webkit-scrollbar-track {
    background:
		linear-gradient(135deg,
		rgba(255,255,255,.08),
		rgba(255,255,255,.03));
	border-radius: 10px;
}

.result::-webkit-scrollbar-thumb {
	background: #265481;
	border-radius: 10px;
	transition: 0.1s;
}

.result::-webkit-scrollbar-thumb:hover {
	background: #0e5aa1;
}

/* LINE */
.line-divider{
	margin-top: 12px;
	border: none;
	height: 2px;
	border-radius: 20px;
	background:
		linear-gradient(90deg,
		transparent, rgba(255,255,255,.5), transparent);
}

/* BUTTONS */
button {
	position: relative;
	margin: 0.2em 3px;
	width: 5.4rem;
	height: 5.05rem;
	border: none;
	border-radius: 24px;
	font-size: 2rem;
	font-weight: 500;
	color: var(--white);
	cursor: pointer;
	overflow: hidden;
	transition:
		transform .25s,
		box-shadow .25s,
		background .25s;
	box-shadow: 0 10px 20px rgba(0,0,0,.25);
}

/* BUTTON SHINE */
button::before{
	content:"";
	position: absolute;
	top: 0;
	left: -120%;
	width: 100%;
	height: 100%;
	background:
		linear-gradient(90deg,
		transparent,rgba(255,255,255,.2),transparent);
	transition:.6s;
}

button:hover::before{
	left: 120%;
}

/* HOVER */
button:hover{
	transform: translateY(-5px) scale(1.05);
}

/* CLICK */
button:active{
	transform: scale(.94);
}

/* Tab */
button:focus, a:focus {
	outline: none;
}

/* NUMBER BUTTONS */
.number, .point{
	background: linear-gradient(145deg, #1e293b, #111827);
}

.number:hover, .point:hover{
	background: linear-gradient(145deg, #334155, #1f2937);
	box-shadow: 0 15px 30px rgba(59,130,246,.12);
}

/* OPERATOR */
.operator {
	background: linear-gradient(145deg, #da941c, #d65510);
	box-shadow: 0 10px 45px rgba(245, 159, 11, 0.267);
	filter: brightness(96%);
}

.operator:hover {
	background: linear-gradient(145deg,#e7a220,#e68434);
	box-shadow: 0 15px 40px rgba(245, 159, 11, 0.267);
	filter: brightness(97%);
}

/* SPECIAL BUTTONS */
.history, .clear, .back{
	background: linear-gradient( 145deg,#64748b,#475569);
}

.history:hover, .clear:hover, .back:hover{
	background: linear-gradient(145deg,#7c8da5,#64748b);
	box-shadow: 0 15px 30px rgba(100,116,139,.3);
}

/* EQUAL BUTTON */
.evaluate {
	filter: brightness(90%);
	background: linear-gradient(145deg,#0cafcc,#1954d4);
	box-shadow: 0 10px 30px rgba(37,99,235,.35);
}

.evaluate:hover {
	filter: brightness(93%);
	background: linear-gradient(145deg,#13c2dd,#2069df);
	box-shadow: 0 18px 40px rgba(37,99,235,.45);
}

/* ANIMATIONS */
@keyframes floatGlow{
	0%{
		transform: translate(0px,0px);
	}
	50%{
		transform: translate(80px,60px);
	}
	100%{
		transform: translate(0px,0px);
	}
}

@keyframes floatGlow2{
	0%{
		transform:translate(0px,0px);
	}
	50%{
		transform:translate(-80px,-40px);
	}
	100%{
		transform:translate(0px,0px);
	}

}

/* RESPONSIVE */
@media (max-width:600px) {
	
	.calculator-section { 
		width: 80vw;
		padding: 20px;
		border-radius: 28px;
	}
	button {
		width: 68px;
		height: 65px;
		font-size: 26px;
		margin: 6px 4px;
		border-radius: 18px;
	}

	.result_section {
		width: 72vw;
		padding: 0.8em;
	}

	.result {
		font-size: 48px;
		padding: 0.2rem 0.4rem;
	}
}